@model IEnumerable< OrderViewModel>
@{
    ViewData["Title"] = "Orders";
}

<div class="text-center">
	<div class="card-header my-3">Orders</div>
	<table class="table table-light">
		<thead>
			<tr>
				<th scope="col">OrderId</th>
				<th scope="col">Product Name</th>
				
				<th scope="col">Quantity</th>
				<th scope="col">Price</th>
			
				<th scope="col"></th>
				<th scope="col"></th>

			</tr>
		</thead>
		<tbody>
   
       @foreach(var item in Model)
        {
				<tr>

					<td>@item.OrderId</td>
					<td>@item.ProductName</td>
					<td>@item.Qty</td>
					<td>@item.Price</td>

					<td><a class="btn btn-sm btn-primary" asp-controller="Order" asp-action="OrderDetails" asp-route-orderId="@item.OrderId">Order Details</a></td>
					<td><a class="btn btn-sm btn-danger" asp-controller="Order" asp-action="CancleOrder" asp-route-orderId="@item.OrderId">Cancel Order</a></td>
				</tr>
			}

		</tbody>
	</table>
</div>
        
    
